<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/changestyle.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
            <p>Brokefolio</p>
            <div class="header-buttons">
                <a href="/login"><button>Giriş Yap</button></a>
                <a href="/register"><button>Kayıt Ol</button></a>
            </div>
    </div>
    <div class="body">
        <div class="login-form">
            <form id="loginForm">
                <p class="big-text">Brokefolio'ya Giriş Yap!</p>
                <input placeholder="Kullanıcı Adı" type="text" name="username" id="username" required>
                <input placeholder="Şifre" type="password" name="password" id="password" required>
                <button type="submit" class="long-button">Giriş Yap</button>
                <status-popup></status-popup>
                <p class="forgor">Şifreni mi Unuttun ? <a href="/passrecover">Hemen Yenile!</a></p>
            </form>
        </div>
    </div>
    <status-popup id="myStatusPopup"></status-popup>
    <script type="module" src="/static/login.js"></script>
    <script type="module" src="/static/status-popup.js"></script>
</body>
</html>