<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
            <p style="background-color: #594273;">Brokefolio</p>
            <div class="header-buttons">
                <a href="login.html"><button>Giriş Yap</button></a>
                <a href="register.html"><button>Kayıt Ol</button></a>
            </div>
    </div>
    <div class="body">
        <div class="login-form">
            <form id="resetForm">
                <p class="big-text">Şifreni Resetle</p>
                <input placeholder="E-mail" type="email" name="email" id="email" required>
                <button type="submit" class="long-button">Resetle!</button>
                <status-popup></status-popup>
            </form>
        </div>
    </div>
    <script src="/static/passReset.js"></script>
    <script src="/static/status-popupModern.js"></script>
</body>
</html>