<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops! - Brokefolio</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/assets/f5/css/all.min.css">
</head>
<body>
    <div class="header">
        <a href="/homepage"><p style="background-color: #594273;">Brokefolio</p></a>
        <div class="header-buttons">
            <a href="/login"><button>Giriş Yap</button></a>
            <a href="/register"><button>Kayıt Ol</button></a>
        </div>
    </div>

    <div class="body">
        <div class="login-form" style="text-align: center;">
            <p class="big-text" style="color: #E74C3C; margin-bottom: 20px;">
                <i class="fas fa-exclamation-triangle" style="margin-right: 15px;"></i>Bir şeyler ters gitti!
            </p>
            <p class="not-opac" style="font-size: 24px; margin-bottom: 30px;">
                Üzgünüz, beklenmedik bir hata oluştu.
            </p>
        </div>
    </div>
        <script>
            setTimeout(function() {
            window.location.replace("/login");
            }, 5000);
    </script>
</body>
</html>